     body {
            margin: 0;
            font-family: 'Segoe UI', sans-serif;
            background-color: #f0fdfa;
            color: #134e4a;
            transition: background-color 0.3s, color 0.3s;
        }

        /* ===== MODE MALAM ===== */
        body.dark-mode {
            background-color: #022c22;
            color: #ecfeff;
        }

        body.dark-mode header,
        body.dark-mode footer {
            background-color: #042f2e;
        }

        body.dark-mode section h2 {
            color: #67e8f9;
        }

        body.dark-mode .card {
            background-color: #064e3b;
            color: #ecfeff;
        }

        body.dark-mode a {
            color: #67e8f9;
        }

        header {
            background: linear-gradient(90deg, #0f766e, #14b8a6);
            padding: 15px 30px;
            color: white;
        }

        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        nav h1 {
            font-size: 20px;
            margin: 0;
        }

        nav ul {
            list-style: none;
            display: flex;
            gap: 20px;
            margin: 0;
            padding: 0;
            align-items: center;
        }

        nav ul li a {
            color: white;
            text-decoration: none;
            font-weight: 500;
        }

        nav ul li a:hover {
            text-decoration: underline;
        }

        /* Tombol Mode */
        .toggle-btn {
            background-color: white;
            color: #0f766e;
            border: none;
            padding: 6px 14px;
            border-radius: 20px;
            cursor: pointer;
            font-size: 14px;
        }

        section {
            padding: 60px 30px;
            max-width: 1000px;
            margin: auto;
        }

        section h2 {
            color: #0f766e;
            margin-bottom: 15px;
        }

        .card {
            background: white;
            padding: 22px;
            border-radius: 12px;
            box-shadow: 0 6px 16px rgba(0,0,0,0.06);
            margin-bottom: 20px;
            transition: background-color 0.3s;
        }

        footer {
            background: linear-gradient(90deg, #0f766e, #14b8a6);
            color: white;
            text-align: center;
            padding: 15px;
            margin-top: 50px;
        }

        .btn {
            display: inline-block;
            padding: 10px 22px;
            background-color: #0d9488;
            color: white;
            border-radius: 6px;
            text-decoration: none;
            margin-top: 10px;
        }

        .btn:hover {
            background-color: #0f766e;
        }